<h2>Listado de Reservas</h2>

<table border="1" cellpadding="5" cellspacing="0">
  <thead>
    <tr>
      <th>ID</th>
      <th>Código</th>
      <th>Fecha</th>
      <th>ID Cliente</th>
      <th>ID Vendedor</th>
      <th>ID Bus</th>
      <th>Ciudad Origen</th>
      <th>Ciudad Destino</th>
      <th>Monto</th>
      <th>Estado</th>
    </tr>
  </thead>

  <tbody>
    <tr *ngFor="let r of reservas">
      <td>{{ r.id_reserva }}</td>
      <td>{{ r.codigo_reserva }}</td>
      <td>{{ r.fecha_reserva }}</td>
      <td>{{ r.id_cliente }}</td>
      <td>{{ r.id_vendedor }}</td>
      <td>{{ r.id_bus }}</td>
      <td>{{ r.id_ciudad_origen }}</td>
      <td>{{ r.id_ciudad_destino }}</td>
      <td>S/ {{ r.monto_total }}</td>
      <td>{{ r.estado }}</td>
    </tr>
  </tbody>
</table>

