<h2>Listado de Ciudades</h2>

<a routerLink="/ciudades/nuevo" class="btn-nuevo">➕ Nueva Ciudad</a>

<table>
  <thead>
    <tr>
      <th>ID</th>
      <th>Nombre</th>
      <th>Estado</th>
      <th>Acciones</th>
    </tr>
  </thead>

  <tbody>
    <tr *ngFor="let ciudad of ciudades">
      <td>{{ ciudad.id_ciudad }}</td>
      <td>{{ ciudad.nombre }}</td>
      <td>{{ ciudad.estado }}</td>
      <td>
        <a [routerLink]="['/ciudades/editar', ciudad.id_ciudad]">✏️ Editar</a>
        |
        <button (click)="eliminar(ciudad.id_ciudad)">🗑 Eliminar</button>
      </td>
    </tr>
  </tbody>
</table>



